<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeet.course.bank.mapper.CourseSimpleBankMapper">

    <insert id="insert" parameterType="CourseSimpleBank">
        insert into course_simple_bank(id, name, details, status, struct_id, remark, del_flag,
                                       create_time)
        values (#{id}, #{name}, #{details}, #{status}, #{structId}, #{remark}, #{delFlag},
                #{createTime})
    </insert>

    <select id="select" parameterType="SimpleBankVo" resultType="SimpleVo">
        select
        s.id id,
        s.name name,
        s.details details,
        s.del_flag delFlag,
        s.status status,
        s.struct_id structId,
        s.create_time createTime,
        s.remark remark,
        c.struct_name structName
        from
        course_simple_bank s
        left join course_structure c
        on s.struct_id = c.struct_id
        where s.del_flag = '0'
        <if test="name != null and name != ''">
            and s.name like concat('%',#{name},'%')
        </if>
        <if test="status != null and status != ''">
            and s.status = #{status}
        </if>
        <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null
                    and params.endTime != '' ">
            and s.create_time between #{params.beginTime} and #{params.endTime}
        </if>
        <if test="structIdList != null and structIdList.size() > 0">
            and s.struct_id in
            <foreach collection="structIdList" item="it" open="(" separator="," close=")">
                #{it}
            </foreach>
        </if>
        order by s.create_time desc
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultType="SimpleVo">
        select
            s.id id,
            s.name name,
            s.details details,
            s.del_flag delFlag,
            s.status status,
            s.struct_id structId,
            s.create_time createTime,
            s.remark remark,
            c.struct_name structName
        from
            course_simple_bank s
        left join course_structure c
        on s.struct_id = c.struct_id
        where s.del_flag = '0' and s.id = #{value}
    </select>

    <update id="update" parameterType="CourseSimpleBank">
        update
        course_simple_bank
        set
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="details != null and details != ''">details = #{details},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="structId != null">struct_id = #{structId},</if>
        </trim>
        where del_flag = '0' and id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long" >
        update course_simple_bank set del_flag = '1' where id = #{value}
    </delete>

    <delete id="deleteList" parameterType="java.lang.Long">
        update
        course_simple_bank
        set
        del_flag = '1'
        where id in
        <foreach collection="list" item="it" open="(" separator="," close=")">
            #{it}
        </foreach>
    </delete>

    <select id="selectByContentId" parameterType="SimpleBankVo" resultType="SimpleVo">
        select
        s.id id,
        s.name name,
        s.details details,
        s.struct_id structId,
        s.create_time createTime,
        s.remark remark,
        c.struct_name structName
        from
        course_simple_bank s
        left join
        course_structure c
        on s.struct_id = c.struct_id
        where s.id not in
        (select bank_id from course_content_bank where content_id = #{contentId} and type = '3')
        and s.del_flag = '0' and s.status = '0'
        <if test="name != null and name != ''">
            and s.name like concat('%',#{name},'%')
        </if>
        <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null
                    and params.endTime != '' ">
            and s.create_time between #{params.beginTime} and #{params.endTime}
        </if>
        <if test="structIdList != null and structIdList.size() > 0">
            and s.struct_id in
            <foreach collection="structIdList" item="it" open="(" separator="," close=")">
                #{it}
            </foreach>
        </if>
        order by s.create_time desc
    </select>

    <select id="selectSimpleList" parameterType="java.util.List" resultType="SimpleVo">
        select
               id id,
               name name,
               details details,
               remark remark
        from course_simple_bank
        where id in
            <foreach collection="list" item="it" open="(" separator="," close=")">
                #{it}
            </foreach>
    </select>

</mapper>